.offcanvas-header {
  background-color: #3f3f3f;
  color: white;
  border-bottom: none;
}

.offcanvas-title {
  font-size: 1.5rem;
}

.offcanvas-body {
  background-color: #212529;
}

.dropdown-item {
  color: white;
}

.dropdown-menu {
  background-color: #212529;
  border-radius: 1%;
  border: #ffff;
  box-shadow: #ffff;
}

