$font-primary: "Montserrat", sans-serif;
$error-bg-color: #0046d5;

#notfound {
    position: relative;
    height: 100vh;

    & .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        max-width: 410px;
        width: 100%;
        text-align: center;

        &-404 {
            height: 280px;
            position: relative;
            z-index: -1;

            h1 {
                font-family: $font-primary;
                font-size: 230px;
                font-weight: 900;
                margin: 0;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background: url("../assets/img/bg.jpg") no-repeat;
                background-size: cover;
                background-position: center;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        h2 {
            font-family: $font-primary;
            font-size: 24px;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
            margin-top: 0;
        }

        p {
            font-family: $font-primary;
            font-size: 14px;
            font-weight: 400;
            color: #000;
            margin-top: 0;
            margin-bottom: 20px;
        }

        a {
            font-family: $font-primary;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            padding: 15px 30px;
            border-radius: 40px;
            background: $error-bg-color;
            color: #fff;
            font-weight: 700;
            box-shadow: 0px 4px 15px -5px $error-bg-color;
            -webkit-box-shadow: 0px 4px 15px -5px $error-bg-color;
        }
    }
}

@media only screen and (max-width: 767px) {
    #notfound .notfound {
        &-404 {
            height: 142px;

            h1 {
                font-size: 112px;
            }
        }
    }
}
