.container-1 {
    max-width: 800px;
    margin: 0 auto;
}

.container-2 {
    max-width: 500 px;
    max-height: 500 px;
    margin: 0 auto;
}

.black-background {
    background-color: black;
}
